<!DOCTYPE html>
<html lang = "en">
<head>
<title>ForwardFitness</title>
<meta charset="utf-8">
</head>
<!-- Here is how to make a comment -->
<body>

<header>
<h1> Forward Fitness </h1>
</header>

<nav> <p>Home &nbsp; <!-- Nonbreading space--> &#9475;<!-- verticle line--> &nbsp;
		About Us &nbsp; &#9475; &nbsp;
		Classes &nbsp; &#9475; &nbsp;
		Nutrition &nbsp; &#9475; &nbsp;
		Contact Us</p>
		
</nav>

<main>
</main>

<footer>
<p>&copy; Copyright 2021. All Rights Reserved.</p>
<p> ForwardFitness@club.net</p>
</footer>

</body>


</html>